# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_PROJECT_ID="a0fa360d-0a3e-43ab-aa56-a6c83d47a038"
DISCOVERY_APIKEY=<add_discovery_iam_apikey>
DISCOVERY_URL="https://services-uscentral.skytap.com:19860/discovery/cp4d-wd/instances/1652780692405337/api"
AUTH_URL="https://services-uscentral.skytap.com:19860/icp4d-api"
USERNAME="admin"
PASSWORD="password"
# Run locally on a non-default port (default is 3000)
PORT=3000